/* Ensure the body and html take up the full screen height initially */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  width: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: grey;
  border: 2px solid black;
}
.container div {
  height: auto;
  /* border: 2px solid red; */
  margin: 0;
  width: fit-content;
}

/* children of 
the first box */
.one {
  margin: 0 auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  border: 0;
  width: auto;
}

.header {
  height: 100vh;
  padding: 10px;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
  color: white;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav img {
  height: 100px;
  width: auto;
  border: 2px solid white;
  border-radius: 50%;
}
nav a:hover {
  background-color: white;
  color: #007bff;
  border-radius: 8px;
}
button:hover {
  background-color: white;
  color: #007bff;
}

/* for the text inside box one
that is the name and tagline */

.description {
  color: white;
  display: flex;
  margin: 8px;
  justify-content: space-between;
  align-items: center;
}
.description div {
  height: auto;
  flex: 1;
  width: fit-content;
}
.textbox-1 {
  flex-direction: column;
  padding: 10px;
}
.textbox-1 h1 p {
  font-family: "Segoe UI", Verdana, sans-serif;
  /* color: #eaecf0; */
  transform: rotate(-10deg);
  text-align: center;
  margin: 20px;
}
.textbox-2 {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: row;
}
.finalist {
  height: 300px;
  width: auto;
  border-radius: 15px;
  border: 2.5px solid wheat;
  margin-left: 10px;
}
.logo-1 {
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  transform: none;
  font-size: 16px;
}

/* the 2nd box */
.two {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  background-color: white;
}
.all-image {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.two img {
  height: 300px;
  border: 4px solid gray;
  width: auto;
  border-radius: 50%;
  flex-wrap: wrap;
}
.all-image {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 8px;
}
.item .text {
  background-color: #1f2937;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
}

/* for the 3rd box */
/* the 2nd box */
.three {
  margin: 0 auto;
  padding: 8px;
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
}
.four {
  background-color: white;
  display: flex;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: centre;
  margin: 10px;
  padding: 100px;
}
.action {
  background-color: #007bff;
  display: flex;
  justify-content: space-between;
  align-items: centre;
  margin: 10px;
  padding: 10px;
  color: white;
  border-radius: 4px;
}
.pat {
  background-color: #007bff;

  color: white;
  border-radius: 6px;
  border: 1.5px solid white;
  font-weight: 60;
  transform: none;
  font-size: 10px;
  width: 50px;
  height: 30px;
  font-weight: 20px;
  margin: 12px;
}
.footer {
  background-color: #1f2937;
  display: flex;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: centre;
  margin: 10px;
  color: white;
  padding: 10px;
}
